/*------------------
Responsive Media Query Variables
------------------*/
$small_mobile: '(max-width: 767px)';
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';
$tab_device: 'only screen and (min-width: 768px) and (max-width: 991px)';
$desktop: '(min-width: 1281px)';

/*------------------
Colors
------------------*/
$primary-color: #0FA5E9;
$secondary-color: #C1CDDD;
$text-dark: #243766;
$text-gray: #6B6D76;
$black-color: #000000;
$light-black-color: #333333;
$light-gray-color: #f5f5f5;
$gray-color: #f1f1f1;
$dark-gray-color: #ebebeb;