ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #dddddd;
    padding-top: 50px;
    .logo {
        img {
            width: 270px;
            height: auto;
        }
    }
    h3 {
        margin-bottom: 10px;
    }

    &-socials li a {
        color: $text-dark; 
        i  {
            font-size: 18px;
        }
    }
    &-link {
        text-transform: capitalize;
        color: $text-dark;
        font-size: 15px;
        padding: 5px;
        display: inline-block;
    }
}